#############################################
# SENSITIVE SPRING BOOT FILES (VERY IMPORTANT)
#############################################

# Do NOT push secrets like DB password, JWT key, email passwords
src/main/resources/application.properties
src/main/resources/application.yml
src/main/resources/application-secret.properties
src/main/resources/*.env

# Optional: if you create different profiles
src/main/resources/application-dev.properties
src/main/resources/application-prod.properties
src/main/resources/application-local.properties

#############################################
# MAVEN
#############################################
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/*.zip

#############################################
# STS (Spring Tool Suite)
#############################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

#############################################
# IntelliJ IDEA
#############################################
.idea
*.iws
*.iml
*.ipr
out/

#############################################
# NetBeans
#############################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Gradle output
!**/src/main/**/build/
!**/src/test/**/build/

#############################################
# VS Code
#############################################
.vscode/

#############################################
# OS FILES
#############################################
# Windows
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
__MACOSX/

#############################################
# LOGS
#############################################
*.log
logs/
